

body {
    display: flex;
    justify-content: space-around;
    min-width: 100vh;
    align-items: center;
    
}

.clock {
    position: relative;
    display: block;
    color: black;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}
.clock .time {
    display: flex;
   

}
.clock .time div {
    position: relative;
    margin: 0 5px;

}
.time div span {
    position: relative;
    display: block;
    color: white;
    width: 300px;
    height: 200px;
    background: black;
    font-size:  90px;
    
}
.time div span :nth-child(2) {
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background: #333333;
    text-transform: uppercase;
}