@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    background-image: url(relogioPonteiro.JPG);
    background-repeat: no-repeat;
    background-color: #c6b490;
    background-position: initial;
    background-size: 150%;
    background-blend-mode: multiply;
    margin: 0;

}
@media only screen and (max-width: 900px) {
    body {
        background-image: url(relogioPonteiro-modificado.JPG);
        background-size: 150%;
        background-position: top;
    }
}

.clock {
    display: flex;
    color: black;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 100px);
    flex-wrap: wrap;
    align-items: center;
    
}
.clock-time {
    display: flex;

}
.clock-time-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding: 10px;
    flex-direction: column;
}
.time-container-footer{
    width: 100%;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    box-shadow: none;
    height: 50px;
    background: #696464;
    text-transform: uppercase;
    text-decoration-line: overline;
}
.time-container-text{
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    color: white;
    width: 200px;
    height: 250px;
    justify-content: center;
    background: black;
    font-size:  90px;
}
