@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    display: flex;
    justify-content: space-around;
    min-width: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url(relogioPonteiro.JPG);
    background-repeat: no-repeat;
    background-size: 100%; 
    
    
}

#clock {
    position: relative;
    display: block;
    color: black;
    text-align: center; 
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    
}
#clock #time {
    display: flex;
    /*align-items: center;*/

}
#clock #time div {
    position: relative;
    margin: 0 5px;

}
#clock #time div span {
    position: relative;
    display: block;
    color: white;
    width: 400px;
    height: 450px;
    background: black;
    font-size:  90px;
    
}
#clock #time div .aaaa {
    display: block;
    height: 50px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    box-shadow: none;
    background: #696464;
    text-transform: uppercase;
    text-decoration-line: overline;
}